*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



main{    
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

div.problema{
    padding: 10px;
    background-color: #f1f2f6;    
}

div.problema:hover{
    border: solid 2px #dfe4ea;
}

input{
    box-shadow: 10px 5px 10 black;
    border: transparent;
    border-radius: 3px;
    height: 30px;
    box-shadow: 2px 2px 5px gray;
    padding: 0 40px 0 10px;
}

.calificaciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
    margin-top: 5px;
}

.calificaciones input{
    width: 70%;
    box-shadow: 1px 1px 5px gray;
}